section.landing {
  display: grid;
  place-items: center;
  min-height: 550px;
  background-color: var(--clr-dark);
}

h2.title {
  color: var(--clr-light);
  font-weight: 300;
  font-size: calc(var(--fs-h1) - 0.5rem);
  letter-spacing: 2px;
  text-align: center;
  margin: 32px auto;
  opacity: 0;
  animation: 1s appear forwards ease;
  max-width: 90vw;
}

p.subtitle {
  text-align: center;
  opacity: 0;
  animation: 1s 0.2s appear forwards ease;
  font-size: var(--fs-body);
}

hr.line {
  max-width: 65%;
  margin: 0 auto;
  background-color: var(--clr-blue);
  color: var(--clr-blue);
  border: 1px solid var(--clr-dark-grey);
  animation: 2s grow forwards ease;
}

div.buttons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.landinglink {
  flex: 1;
  text-align: center;
  max-width: 200px;
  text-decoration: none;
  color: var(--clr-blue);
  font-size: var(--fs-h4);
  opacity: 0;
  animation: 1s drop-in forwards ease;
  animation-delay: 0.5s;
  transition: 0.2s color ease;
}

.landinglink:hover {
  color: var(--clr-light-blue);
}

@media (min-width: 500px) {
  h2.title {
    font-size: var(--fs-h1);
  }

  .landinglink {
    font-size: var(--fs-h3);
  }
}

@media (min-width: 800px) {
  section.landing {
    min-height: 650px;
  }
  hr.line {
    max-width: 55%;
  }
}
