.header {
  background: linear-gradient(to bottom, var(--clr-black), var(--clr-dark));
}

.logo {
  font-size: var(--fs-h2);
  text-align: center;
  margin: 0;
  font-weight: 300;
  color: var(--clr-light);
  padding: 8px 16px;
  user-select: none;
  display: flex;
  place-items: center;
  justify-content: space-around;
  width: 100vw;
  cursor: pointer;
}

.logo::before,
.logo::after {
  display: none;
}

.navlink:hover {
  color: var(--clr-light);
}

.nav {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.navlinks {
  display: flex;
  min-width: 100%;
  padding: 0.25rem 0 0.25rem 1rem;
  justify-content: space-around;
}

.navlink {
  color: var(--clr-light-grey);
  text-decoration: none;
  font-size: calc(var(--fs-body) - 0.1rem);
  transition: 0.2s color ease;
  font-size: var(--fs-body);
}

@media (min-width: 500px) {
  .logo::before,
  .logo::after {
    display: initial;
    content: "";
    background-color: var(--clr-light-grey);
    height: 3px;
    width: 20%;
    margin: 8px;
  }
}

@media (min-width: 650px) {
  .logo {
    font-size: var(--fs-h1);
  }

  .logo::before,
  .logo::after {
    height: 4px;
    width: 25%;
  }

  .navlink {
    font-size: var(--fs-h4);
  }
}

@media (min-width: 800px) {
  .nav {
    display: flex;
    flex-direction: row;
    padding: 8px;
  }

  .logo {
    font-size: var(--fs-h3);
    width: auto;
  }

  .logo::before,
  .logo::after {
    display: none;
  }

  .navlinks {
    display: flex;
    min-width: 400px;
  }

  .navlink-container {
    padding: 8px 16px;
  }

  .navlink {
    font-size: var(--fs-body);
  }
}

@media (min-width: 1500px) {
  .navlinks {
    padding: 0.25rem 0 0.25rem 3rem;
  }
}
