.post-code {
  max-width: 92.5%;
  margin: 1.5rem auto;
}

@media (min-width: 800px) {
  .post-code {
    margin: 1.75rem auto;
  }
}

@media (min-width: 1000px) {
  .post-code {
    margin: 2rem auto;
  }
}
