.table-row {
  align-items: center;
  border-bottom: 1px solid var(--clr-light-grey);
}

.table-row:last-child {
  border-bottom: none;
}

.command {
  color: var(--clr-blue);
  font-size: var(--fs-h4);
  font-weight: 300;
  grid-area: "a";
}

.usage {
  color: var(--clr-text);
  font-size: var(--fs-body);
  grid-area: "b";
}

.command-description {
  color: var(--clr-light-grey);
  font-size: var(--fs-body);
  grid-area: "c";
}

@media (min-width: 800px) {
  .overview {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
  }
}
