.home-grid {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 1rem;
}

@media (min-width: 800px) {
  .home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
