.table {
  max-width: 90%;
  margin: 0 auto;
  padding-bottom: 5rem;
}

.table-title {
  font-size: var(--fs-h3);
  margin: 1rem 0;
  color: var(--clr-light);
}

@media (min-width: 1000px) {
  .table {
    padding-bottom: 10rem;
  }
}
