div.wave-container,
div.wave-container-flip {
  background-color: var(--clr-dark);
  padding: 0;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

svg.wave {
  width: 100%;
}

div.wave-container-flip {
  transform: rotate(180deg);
}
