section.section {
  min-height: 450px;
  transform: translateY(32px);
  opacity: 0;
  visibility: hidden;
  transition: 0.5s opacity ease-out, 0.5s transform ease-out;
}

section.visible {
  transform: none;
  opacity: 1;
  visibility: visible;
}

main.container {
  max-width: 80%;
  min-height: 450px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: space-around;
}

div.image-container,
div.text-container {
  margin: 0;
  padding: 0;
  max-height: 400px;
  word-wrap: break-word;
}

div.text-container {
  max-width: 85%;
  min-width: 85%;
}

div.image-container {
  color: white;
  max-height: fit-content;
  max-width: 70%;
  min-width: 70%;
  display: grid;
  align-items: center;
}

div.justify {
  align-items: unset !important;
  justify-content: center !important;
}

div.justify * {
  transform: scale(1.1);
}

img.image {
  max-width: 350px;
  border-radius: 8px;
  -webkit-box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.5);
}

h3.text-title {
  color: var(--clr-light-grey);
  font-size: var(--fs-h4);
  margin: 0 0 1rem;
  font-weight: 400;
}

p.text {
  color: var(--clr-text);
  line-height: 1.6;
  letter-spacing: 1px;
  margin: 0;
}

@media (min-width: 800px) {
  section.section {
    min-height: 500px;
  }

  p.text {
    font-size: var(--fs-body);
  }

  main.container {
    min-height: 600px;
  }

  div.image-container {
    min-height: fit-content;
  }

  img.image {
    max-width: 500px;
  }
}

@media (min-width: 1050px) {
  section {
    min-height: 500px;
  }

  main.container {
    flex-direction: row;
    min-height: 500px;
  }

  div.image-container,
  div.text-container {
    max-width: 47.5%;
    min-width: 47.5%;
    min-height: fit-content;
  }

  div.justify {
    justify-content: right;
  }

  section.flipped div.justify {
    justify-content: left !important;
  }

  div.justify * {
    transform: scale(1.05);
  }

  section.flip main.container {
    flex-direction: row-reverse;
  }
}

@media (min-width: 1200px) {
  section.section {
    min-height: 500px;
  }

  p.text {
    font-size: calc(var(--fs-body) + 0.1rem);
  }

  main.container {
    max-width: 75%;
    min-height: 500px;
    justify-content: space-around;
  }

  img.image {
    min-width: 90%;
  }

  div.image-container,
  div.text-container {
    max-width: 45%;
    min-width: 45%;
    height: 400px;
  }

  div.justify * {
    transform: scale(1.2);
  }
}

@media (min-width: 1500px) {
  div.justify {
    align-items: center !important;
  }

  div.justify * {
    transform: scale(1.35);
  }
}
