section {
  padding: 2rem 0 1rem;
}

main.container {
  max-width: 80% !important;
  margin: 0 auto;
}

div.flex-container {
  display: flex;
  justify-content: space-around;
}

div.image-container,
div.text-container {
  max-width: 45%;
  min-width: 45%;
  margin: 0;
  padding: 0;
  border: var(--dev-border);
}

div.text-container {
}

p.text {
  color: var(--clr-text);
  line-height: 1.4;
  margin: 0;
}
