.dark,
.light {
  font-family: var(--ff-mono);
  font-size: calc(var(--fs-body) - 0.25rem);
  padding: 1rem;
  border-radius: 8px;
  transition: 0.2s color ease, 0.2s background-color ease;
}

.dark {
  background-color: #222;
  color: var(--clr-light);
}

.light {
  background-color: #eee;
  color: var(--clr-dark);
}

.dark span,
.light span {
  transition: 0.2s color ease;
}

.dark .keyword {
  color: #8aa5ff;
}

.dark .class {
  color: #5f87f6;
}

.dark .var {
  color: #6fffe7;
}

.dark .property {
  color: #3359ff;
}

.dark .string {
  color: #00ff9d;
}

.light .keyword {
  color: #7340ff;
}

.light .class {
  color: #0044ff;
}

.light .var {
  color: #0077ff;
}

.light .property {
  color: #341dff;
}

.light .string {
  color: #8c00ff;
}

.normal {
  color: inherit !important;
}

@media (min-width: 600px) {
  .large {
    font-size: var(--fs-body);
  }
}
