.footer-distributed {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  font-weight: 300;
  padding: 55px 50px;
  bottom: 0;
  background-color: var(--clr-dark);
  font-size: var(--fs-body);
  margin-top: -4px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

.footer-distributed .footer-left {
  width: 45%;
}

.footer-distributed h2 {
  color: var(--clr-light);
  margin: 0;
  font-size: var(--fs-h3);
}

.footer-distributed h2 span {
  color: var(--clr-blue);
}

.footer-distributed .footer-links {
  color: var(--clr-blue);
  margin: 20px 0 12px;
  padding: 0;
  cursor: pointer;
}

.footer-distributed .footer-links * {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  padding: 0.2rem;
  transition: 0.2s color ease;
}

.footer-distributed .footer-links *:hover {
  color: var(--clr-light-blue);
}

.footer-distributed .footer-company-name {
  color: var(--clr-text);
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-center {
  width: 30%;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: var(--clr-light);
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p a {
  color: var(--clr-blue);
  text-decoration: none;
  font-size: var(--fs-h4);
  transition: 0.2s color ease;
}

.footer-distributed .footer-center p a:hover {
  color: var(--clr-light-blue);
}

.footer-distributed .footer-right {
  width: 25%;
}

.footer-distributed .footer-company-about {
  line-height: 1.4;
  color: var(--clr-text);
  font-size: calc(var(--fs-body) - 0.25rem);
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: var(--clr-light);
  font-size: calc(var(--fs-h4) - 0.25rem);
  font-weight: bold;
  margin-bottom: 20px;
}

@media (max-width: 950px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-company-about {
    max-width: 50%;
    margin: 0 auto;
    font-size: var(--fs-body);
  }

  .footer-distributed .footer-company-about span {
    font-size: var(--fs-h4);
  }
  .main {
    line-height: normal;
    font-size: auto;
  }
}
