.footer {
  padding: 2rem 0 1rem;
  background-color: var(--clr-dark);
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  max-width: 80%;
  margin: 0 auto;
}

h2.mark {
  color: var(--clr-light);
  font-weight: 300;
  letter-spacing: 1px;
  font-size: var(--fs-h3);
  padding: 4px 8px;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin: auto 0 1rem;
}

h2.mark::after,
h2.mark::before {
  display: none;
}

a.footer-link {
  color: var(--clr-blue);
  font-size: var(--fs-h4);
  text-align: center;
  padding: 16px 0;
}

div.about {
  max-width: 80%;
  margin: 0 auto;
}

p.about-text {
  text-align: center;
  margin: 0 auto;
  padding: 1rem;
  font-size: var(--fs-h4);
  word-wrap: break-word;
  max-width: 90%;
}

div.invite-container {
  padding: 1rem 0;
  display: grid;
  place-items: center;
}

a.invite {
  background-color: var(--clr-dark-blue);
  min-width: 45%;
  text-align: center;
  color: var(--clr-light);
  font-size: var(--fs-h3);
  margin: 0 auto;
  padding: 4px 0;
  display: block;
  transition: 0.2s all ease;
}

a.invite:hover {
  transform: scale(1.1);
}

div.copyright-container-grid {
  display: none;
}

div.copyright-container {
  width: 100%;
}

p.copyright {
  text-align: center;
}

@media (min-width: 350px) {
  h2.mark {
    display: flex;
  }

  h2.mark::before,
  h2.mark::after {
    content: "";
    background-color: var(--clr-light-grey);
    height: 4px;
    width: calc(100vw / 2 - 120px);
    margin: 4px;
    display: initial;
  }
}

@media (min-width: 650px) {
  h2.mark {
    font-size: var(--fs-h2);
    justify-content: space-evenly;
  }

  h2.mark::before,
  h2.mark::after {
    width: calc(100vw / 2 - 180px);
  }

  .footer-flex {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-evenly;
  }

  div.about {
    max-width: 40%;
    margin: 0;
  }

  .footer-grid {
    margin: 0;
    max-width: unset;
    width: 40%;
  }

  a.footer-link {
    text-align: left;
  }

  p.about-text {
    font-size: calc(var(--fs-h4) + 0.2rem);
  }

  div.copyright-container-grid {
    display: initial;
  }

  div.copyright-container {
    display: none;
  }
}

@media (min-width: 1000px) {
  h2.mark::before {
    display: none;
  }

  h2.mark::after {
    width: calc(100vw - 25rem);
  }

  .footer-flex {
    justify-content: flex-end;
  }

  .footer-grid {
    width: 45%;
  }

  div.about {
    width: 35%;
  }

  p.about-text {
    font-size: var(--fs-h4);
    padding-bottom: 1rem;
  }
}

@media (min-width: 1200px) {
  h2.mark::after {
    width: calc(100vw - 30rem);
  }

  div.about {
    width: 30%;
  }

  p.about-text {
    font-size: calc(var(--fs-h4) - 0.35rem);
  }
}

@media (min-width: 1500px) {
  p.about-text {
    font-size: calc(var(--fs-h4) - 0.5rem);
  }
}

@media (min-width: 1800px) {
  p.about-text {
    font-size: calc(var(--fs-h4) - 0.75rem);
    padding-bottom: 2rem;
  }
}
